input {
  background-color: black;
  min-height: 25px;
  min-width: 100px;
  border-radius: 7px;
  margin: 10px;
}

.auth-form {
  display: flex;
  background: rgb(57, 52, 52);
  border-radius: 25px;
  padding: 20px;
  margin: 50px
}
